header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    ul {
      display: flex;
      align-items: center;

      li {
        padding: 0.5rem 1rem;
        a {
          font-size: 1.2rem;
          font-weight: 500;
          transition: all 0.5s;
          color: #1b0e4f !important;
          &:hover {
            color: #1f7ee5 !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  ul {
    padding: 0 !important;
  }
}
