.login-container {
  background: linear-gradient(
    to bottom left,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.8)
  );
  padding: 2rem;
  border-radius: 2rem;
  border: 2px white solid;
  input {
    background: linear-gradient(
      to bottom left,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 1)
    );
    outline: none;
    border: none;
    border-radius: 0.5rem;
    text-align: right;
    padding: 0.3rem 1rem;
    margin-bottom: 1.2rem;

    &[type="submit"] {
      background: #1b0e4f;
      color: white;
      font-size: 1.2rem;
      font-weight: bold;
      width: 50%;
      text-align: center;
    }
  }

  a {
    color: #1b0e4f !important;
  }
}
